<div id="site-footer-container">

  <div class="footer-site-info">
    <div class="row footer-about-container">

      <div class="footer-about-social">
        <h1 class="name"><a href="/">John Paul Brammer</a></h1>
        <p>
          {{ site.description }}
        </p>
        <div class="social">
          <ul>
            {% if site.twitter %}
            <li><a href="http://www.twitter.com/{{ site.twitter }}" target="_blank">Twitter</a></li>
            {% endif %}
            {% if site.instagram %}
            <li><a href="http://www.instagram.com/{{ site.instagram }}">Instagram</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div class="footer-contact">
        <form action="https://formspree.io/{{ site.email }}"
        method="POST">
          <input type="text" name="name" placeholder="Full Name">
          <input type="email" name="_replyto" placeholder="Email">
          <textarea type="message" name="message" placeholder="Message"></textarea>
          <input type="submit" value="Send">
        </form>
      </div>

    </div>
  </div>

  <footer class="row site-footer">
    <div class="footer-copy">
      &copy; 2016 John Paul Brammer
    </div>
    <div class="footer-designed-by">
      designed &amp; developed with <span>&#x2665</span> by <a href="http://www.thinkpuro.com" target="_blank">Think Puro</a>
    </div>
  </footer>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.touchswipe/1.6.15/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.plugins.min.js"></script>
<script src="/assets/js/base.js"></script>